#chip_zero_tabs h3 { display:none; }
.margin10tb { margin:10px 0px 10px 0px; }
.padding10 { padding: 10px; }
a.chipzeroadmin:link, a.chipzeroadmin:visited { color:#21759b; text-decoration:none; }
a.chipzeroadmin:hover { text-decoration:underline; }
